[Unit]
Description=Apply sysfs variables
Documentation=man:sysfs.conf(5)
Documentation=man:systool(1)
After=mountkernfs.service
After=udev.service
After=module-init-tools.service
After=cpufrequtils.service
ConditionPathExists=/etc/sysfs.conf

[Service]
Type=oneshot
ExecStart=/etc/init.d/sysfsutils start
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=sysfs.service
